html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 12px;
  
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) {
    
}



/*--------------------------------------------NAVBAR*/
.nav{
    
    color: #ff00ff;
}

.navbar-header {

    border-color: #000;

}
.navbar {
   
    border-radius: 4px;
    position: relative;
    min-height: 10px;
    margin-bottom: 20px;
    margin-right:auto;
    margin-left:auto;
}
.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right:auto;
    margin-left: auto;
    color: #3333cc;
}

.nav navbar-nav {
     
   }
   
   .navbar-brand {
  
}

img {

   width:200px;
  height:200px;
}
  .hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
    
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0000ff;
   color: white;
   text-align: center;
}

.ABOUT{
     color:#000;
     
     
}
   

/*--------------------------------------------Heading*/

/*--------------------------------------------Heading*/

/*--------------------------------------------Heading*/

/*--------------------------------------------Heading*/


/*--------------------------------------------Heading*/