html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0
  
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
.nav{
    
    color: #ff00ff;
}

.navbar-header {
    background-color: #3333cc;
    border-color: #000;
}
.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: #3333cc;
}